.calendar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 50vh;
    /* width: 100%; */
  }
  .button-today {
    color: white;
    background-color: cornflowerblue;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
  }
  .calendar-area {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
  }
  .calendar-area > div {
    /* border: 1px solid black; */
text-align: center;
  padding: 0.5rem 0;
  font-size: 1rem;
  min-width: 3rem;
  cursor: pointer;
}
.calendar-area-today {
  grid-column: 3 / span 3;
  color: white;
  background-color: cornflowerblue;
}
.calendar-dates:hover {
  color: black;
  background-color: lightgray;
}

.today {
  color: white;
  background-color: cornflowerblue;
  border-radius: 50%;
}


.tripdate {
  color: white;
  background-color: red;
  padding: .2rem ;
  border-radius: 0.5rem;
}