.home-faq {
    margin: 1rem .5rem;
  }
  .home-faq-title{
    text-align: center;
  }
  details {
  padding: 1rem;
  }
  
  .home-faq-answer{
    /* border: 1px solid red; */
    margin-top: .5rem;
    padding: 1.5rem;
    /* overflow: hidden; */
    max-width:30rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .home-faq-answer img{
    width:100%;
    margin-top: 1rem;
  }